header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  gap: 8px;
  padding: 20px;
  background-color: var(--background-color);
  z-index: 10;
  box-shadow: 0 4px 12px var(--shadow-color);
  border-bottom: 1px solid var(--shadow-color);
}

.search-input {
  padding: 8px;
  font-size: 14px;
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  transition: border-color 0.2s ease;
}

.search-input:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 4px var(--focus-shadow-color);
}

.main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 75px);
  margin-top: 75px;
}

.sidebar {
  flex: 0 0 250px;
  background-color: var(--sidebar-backgound);
  padding: 20px;
  border-right: 1px solid var(--shadow-color);
  overflow-y: auto;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-button {
  border: 1px solid black;
  border-radius: 12px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
}

.filter-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 12px;
  margin-bottom: 12px;
}

.checkbox-radio-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block: 5px;
  font-size: 14px;
}

.grid-container {
  flex: 1;
  overflow-y: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px 12px;
  padding: 20px;
  justify-content: start;
}

.grid-no-results {
  text-align: center;
  flex: 1;
  overflow-y: auto;
  margin: 20px 0;
  font-size: 18px;
  margin-top: 60px;
  color: var(--primary-text-color);
}

@media (max-width: 768px) {
  .sidebar {
    flex: 0 0 100px;
  }

  .filter-columns {
    grid-template-columns: 1fr;
  }

  .search-input {
    width: 300px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}